@{

}
<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <h1>Create Category</h1>
    <form method="post" action="/Categories/Create">
        <div>
            <label for="CategoryID">Category ID :</label>
            <input type="text" name="CategoryID" placeholder="Insert Category ID" />
        </div>
        <div>
            <label for="CategoryName">Category Name :</label>
            <input type="text" name="CategoryName" placeholder="Insert Category Name" />
        </div>
        <div>
            <input type="Submit" value="Create" />
        </div>
    </form>
</body>

</html>