<!DOCTYPE html>
<html>

<head>
    <title>Detail Category</title>
</head>

<body>
    <h1>Detail Category</h1>
    <p>
        Category ID : @Model.CategoryID &nbsp;
        Category Name : @Model.CategoryName &nbsp;
    </p>
</body>

</html>
