@model IEnumerable<SampleMVC.Models.Category>

<!DOCTYPE html>
<html>

<head>
    <title>Categories Page</title>
</head>

<body>
    <h1>List Of Categories</h1>
    <p>Username: @ViewData["username"] &nbsp; Role: @ViewBag.role</p><br />

    <a href="/Categories/Create">Create New Category</a>&nbsp;
    <table border="1">
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
        </tr>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryID</td>
                <td>@category.CategoryName</td>
                <td><a href="/Categories/Edit/@category.CategoryID">edit</a></td>
            </tr>
        }
    </table>
</body>

</html>
